<app-nav></app-nav>
<mat-card class="contact-card">
    <mat-card-title>Contact Us</mat-card-title>
    <mat-card-content>
        <form (submit)="submitForm(); $event.preventDefault()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Name</mat-label>
                <input #nameInput matInput [value]="name()" (input)="name.set(nameInput.value)" />

            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input #emailInput matInput [value]="email()" (input)="email.set(emailInput.value)" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Message</mat-label>
                <textarea #messageInput matInput [value]="message()"
                    (input)="message.set(messageInput.value)"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="!isValid()">Send</button>
        </form>

        @if (showSuccess()) {
        <div style="margin-top: 10px; color: green;">
            <mat-icon>check_circle</mat-icon> Your message has been sent successfully!
        </div>
        }

    </mat-card-content>
</mat-card>