<app-nav></app-nav>
<h2 style="text-align: center;">👤 User Management</h2>


@if (userService.isLoading()) {
<p>Loading users...</p>
}
@if (userService.error()) {
<p>{{ userService.error() }}</p>
}

<form [formGroup]="form" (ngSubmit)="saveUser()">
    <h3>{{ selectedUserId ? 'Edit User' : 'Create New User' }}</h3>

    <label>Name:</label>
    <input formControlName="name" />
    @if (form.controls.name.invalid && form.controls.name.touched) {
    <div>
        ⚠️ Name is required.
    </div>
    }

    <label>Email:</label>
    <input matInput formControlName="email" />
    @if (form.controls.email.invalid && form.controls.email.touched) {
    <div>
        ⚠️ Valid email required.
    </div>
    }

    <button mat-flat-button type="submit" [disabled]="form.invalid">
        {{ selectedUserId ? 'Update' : 'Create' }}
    </button>
    <button mat-flat-button type="button" (click)="resetForm()">Cancel</button>
</form>
<hr />

<app-reusable-table [data]="userService.users()" [columnDefs]="columnDefs" [hasActions]="true"
    (editAction)="editUser($event)" (deleteAction)="deleteUser($event)">
</app-reusable-table>