<div class="dialog-container">
  <h2 mat-dialog-title>{{ getTitle() }}</h2>

  <mat-dialog-content>
    <form [formGroup]="employeeForm" class="form-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        @if (employeeForm.get('name')?.hasError('required')) {
        <mat-error>
          Name is required
        </mat-error>
        }
        @if (employeeForm.get('name')?.hasError('minlength')) {
        <mat-error>
          Name must be at least 2 characters
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        @if (employeeForm.get('email')?.hasError('required')) {
        <mat-error>
          Email is required
        </mat-error>
        }
        @if (employeeForm.get('email')?.hasError('email')) {
        <mat-error>
          Invalid email format
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Salary</mat-label>
        <input matInput formControlName="salary" type="number" />
        @if (employeeForm.get('salary')?.hasError('required')) {
        <mat-error>
          Salary is required
        </mat-error>
        }
        @if (employeeForm.get('salary')?.hasError('min')) {
        <mat-error>
          Salary must be greater than 0
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Department</mat-label>
        <mat-select formControlName="department">
          <mat-option *ngFor="let dept of departments" [value]="dept">
            {{ dept }}
          </mat-option>
        </mat-select>
        @if (employeeForm.get('department')?.hasError('required')) {
        <mat-error>
          Department is required
        </mat-error>
        }
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button class="error" (click)="onCancel()">Cancel</button>
    <button mat-flat-button (click)="onSubmit()" [disabled]="!employeeForm.valid">
      {{ isEditMode ? 'Update' : 'Create' }}
    </button>
  </mat-dialog-actions>
</div>