<div class="container">
    <mat-card>
        <mat-card-header>
            <div class="header-container">
                <h2>Employee List</h2>
                <button mat-flat-button (click)="openAddDialog()">
                    <mat-icon>add</mat-icon>
                    Add Employee
                </button>
            </div>
        </mat-card-header>
        
        <mat-card-content>
            <app-reusable-table 
                [data]="tableData" 
                [columnDefs]="columnDefs"
                [hasActions]="true"
                (editAction)="editEmployee($event)"
                (deleteAction)="deleteEmployee($event)">
            </app-reusable-table>
        </mat-card-content>
    </mat-card>
</div>