.container {
    width: 90%;
    margin: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;

    h2 {
        margin: 0;
        flex: 1;
    }

    button {
        margin-left: auto;
    }
}